{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block%}
	<div>
		Rango says here is the about page.
		<p>visits: {{ visits }}</p>
	</div>
	<div>
		This tutorial has been put together by  <br />
		<strong>{{ author_name }}</strong><br />
	</div>
	<div>
		<img src="{% static "images/cat.png" %}"
		alt="Picture of John" />
		 <img src="{{ MEDIA_URL}}images/cat.jpg" />
	</div>
{% endblock %}

<!-- <!DOCTYPE html>

{% load staticfiles %} 

<html>
	
	<head>
		<title>Rango</title>
	</head>

	<body>
		<div>
			Rango says here is the about page.
		</div>

		<div>
						<a href="/rango/"> Index</a>
		</div>
		<div>
			This tutorial has been put together by  <br />
			<strong>{{ author_name }}</strong><br />
		</div>
		<div>
			<img src="{% static "images/john.png" %}"
			alt="Picture of John" />
			 <img src="{{ MEDIA_URL}}images/cat.jpg" />
		</div>
	</body>
</html> -->