<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>
	
	<head>
		<title>Rango</title>
	</head>

	<body>
		<div>
			Rango says here is the about page.
		</div>

		<div>
						<a href="/rango/"> Index</a>
		</div>
		<div>
			This tutorial has been put together by  <br />
			<strong>{{ author_name }}</strong><br />
		</div>
		<div>
			<img src="{% static "images/john.png" %}"
			alt="Picture of John" /> <!-- New line -->
			 <img src="{{ MEDIA_URL}}images/cat.jpg" />
		</div>
	</body>
</html>